.navbar {
  width: 15%;
  height: 100vh;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.navbar img {
  width: 85%;
  margin-bottom: 25px;
}

.rightContent {
  padding-top: 0px;
  background-color: #677a81;
  width: 85%;
  height: 100%;
  min-height: 100vh;
  float: right;
}
.rightContent div.addEvent {
  padding-left: 25px;
}

.addEvent button {
  margin-top: 25px;
  background-color: white;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: inset;
}
.addEvent button:hover {
  background-color: #f5a900;
  width: 200px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: outset;
}
.name select {
  display: block;
  height: 40px;
  font-size: 20px;
}
.name textarea {
  font-size: 20px;
}

.rightContent div.sum {
  margin-left: 20px;
  padding-left: 5px;
  height: 300px;
  width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border: solid 5px black;
}

.rightContent h1 {
  padding-left: 25px;
  color: white;
}

.campList {
  margin: 25px;
  display: block;
  border: outset;
  background: lightgrey;
  width: 96%;
}
.campList:hover {
  background-color: #f5a900;
  cursor: pointer;
  border: inset;
}

.dates {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dates p {
  margin: 2px;
}

.title {
  display: inline-block;
  width: 50%;
  vertical-align: center;
  text-align: center;
}

.title h3 {
  display: inline-block;
  width: 400px;
  height: 40%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 3%;
}
.navbar button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  background-color: white;
  border: 0px;
  color: #677a81;
  font-weight: bold;
}

.navbar button:hover {
  background-color: #677a81;
  color: #f5a900;
  cursor: pointer;
}

.update select {
  height: 40px;
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
  background-color: #677a81;
  border: inset black;
}
.update option {
  background-color: lightgray;
}

.update p {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.update p.currentPrice {
  font-size: 30px;
  padding-bottom: 50px;
}
.update input {
  height: 40px;
  font-size: 25px;
  border: inset black;
  background-color: #677a81;
}
.update button {
  width: 200px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border: outset;
  margin-left: 20px;
}
.update button:hover {
  background-color: #f5a900;
  border: inset;
  cursor: pointer;
}

.roster label {
  font-size: 25px;
  text-align: right;
  width: 10%;
}
.roster input {
  width: 11%;
  background-color: #677a81;
  border: 1px black solid;
  font-size: 25px;
}
.roster select {
  width: 11%;
  background-color: #677a81;
  border: 1px black solid;
  font-size: 25px;
}
.roster button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: outset;
  margin-left: 20px;
}
.roster button:hover {
  background-color: #f5a900;
  border: inset;
  cursor: pointer;
}
table {
  width: 96%;
  margin-bottom: 50px;
}
th {
  font-size: 25px;
  font-display: bold;
  color: white;
}
td {
  font-size: 25px;
}
tr {
  height: 30px;
  text-align: center;
}

.permission {
  margin-left: 20px;
}

.permission button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: outset;
  margin-left: 20px;
}
.permission button:hover {
  background-color: #f5a900;
  border: inset;
  cursor: pointer;
}

.initial {
  display: inline-block;
  width: 40%;
  margin: 25px;
  text-align: center;
}

.initial h3 {
  font-size: 25px;
}
.current {
  display: inline-block;
  width: 40%;
  margin: 25px;
  text-align: center;
}
.current h3 {
  font-size: 25px;
}

.general {
  margin: 25px;
  font-size: 20px;
}
.core {
  margin: 25px;
  font-size: 20px;
}
.additional {
  margin: 25px;
  font-size: 20px;
}
